// src/styles/variables.scss

// Couleurs
$color-primary: #0077ff;
$color-text-default: #222;
$color-text-muted: #555;
$color-bg: #fff;
$color-bg-overlay: rgba(0, 0, 0, 0.05);

// Tailles
$header-height: 60px;

// Breakpoints
$breakpoint-sm: 640px;

// Fonts
$font-family-base: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
